.form-control{
    background-color: white;
    font-size: small;
}
p a{
    color: rgb(71, 178, 228)
}
p a:hover{
    text-decoration: underline;
}
img{
    margin-left:auto;
    margin-right:auto;
    display: block;
    height: 150px;
}
.btn-primary {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group{
    margin-bottom: 10px;
}
label{
    margin-bottom: 3px;
}

/* salon register*/
.register-form{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 20px 12px rgb(0 0 0 / 10%);
    background-color: white;
}
.upload-box{
    margin-top: 10px;
    height: 150px; 
    width: 100%;
    border: 1px dashed #BBB; 
    cursor:pointer; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
img#output{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 100px; 
    width: 200px;
}
.file-upload{
    margin-bottom: 2px;
}
.upload-btn{
    height: 0px;
    width:0px; 
    overflow:hidden;
}
#inputAddress{
    padding-top: 15px;
    padding-bottom: 50px;
}
.form-check{
    margin-top: 3px;
    margin-bottom: 9px;
}
.services{
    margin-top: 10px;
}
.bankdetails{
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="checkbox"]
{
    width: 1.4pc;
    height: 20px;
    margin-right: 4px;
    margin-top: 4px;
}
input.price{
    float: right;
}

