<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./includes/head.ejs')%>
    <link rel="stylesheet" href="/css/homepage.css">
  </head>
  <header><%-include('./includes/navigation.ejs')%></header>
  <body>
      <h1>Homepage</h1>
    
  </body>
</html>
