<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../includes/head.ejs')%>
</head>

<body>
    <h1>Some Error Occured !</h1>
    <p>We are working for fixing this , sorry for inconvenience !</p>
</body>

</html>