.header_nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav_logo{
    list-style: none;
    display: flex;
}
.nav_list {
    list-style: none;
    display: flex;
}

.nav_list-item {
    margin: 0 20px;
    text-shadow: 1px 6px 5px black;
}

.nav_list-item a {
    font: inherit;
    background: transparent;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav_list-item a:hover,
.nav_list-item a:active,
.nav_list-item a.active{
    color: #ff4545;
    transition: all 0.3s ease;
}