.wrapper{
    margin-top : 100px; 
    margin-bottom : 100px; 
    width: 30%; 
    padding: 20px; 
    margin-left : auto;
    margin-right : auto;
    display : block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 15px;
    background-color: white;
}
.wrapper h2.text-center{
    margin-top: 4px;
}
.form-control{
    background-color: white;
    font-size: small;
}
p a{
    color: rgb(71, 178, 228)
}
p a:hover{
    text-decoration: underline;
}
img{
    margin-left:auto;
    margin-right:auto;
    display: block;
    height: 150px;
}
.btn-primary {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group{
    margin-bottom: 10px;
}
label{
    margin-bottom: 3px;
}

/* salon register*/
.register-form{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    box-shadow: 5px;
}
.upload-box{
    margin-top: 10px;
    height: 150px; 
    width: 100%;
    border: 1px dashed #BBB; 
    cursor:pointer; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
img#output{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 100px; 
    width: 200px;
}
.file-upload{
    margin-bottom: 2px;
}
.upload-btn{
    height: 0px;
    width:0px; 
    overflow:hidden;
}
#inputAddress{
    padding-top: 15px;
    padding-bottom: 50px;
}
.form-check{
    margin-top: 3px;
    margin-bottom: 9px;
}
.services{
    margin-top: 10px;
}
.bankdetails{
    margin-top: 15px;
    margin-bottom: 5px;
}

#msg{
    text-align: center;
    color: red;
    font-size: 20px;
}

body{
    background-color: #f3f5fa;
}

