<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../includes/head.ejs')%>
  </head>
  <header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/customer/login.css" />
  </header>
  <body>
    <div class="wrapper">
      <%if(msg) {%>
        <div class="alert alert-danger text-center"><%=msg%></div>
       <% } else {%>
        <div class="text-center"><%=msg%></div>
       <%}%> 
      <img src="/images/user.png">
       <h2 class="text-center">User Sign up</h2>
         <p>Please fill in your credentials to signup.</p>
         <form action="/customer/signup" method="POST">
             <div class="form-group">
                 <label>Name</i></label>
                 <input type="text" name="name" placeholder="Enter your name" class="form-control" pattern=".+">
             </div>    
             <div class="form-group">
                 <label>Email Id</i></label>
                 <input type="email" name="email" placeholder="Enter your email" class="form-control" pattern=".+@.+\.com">
             </div>    
             <div class="form-group">
                 <label>Password</label>
                 <input type="password" name="password" placeholder="Enter your password" class="form-control" pattern=".+">
             </div>
             <div class="form-group">
                 <label>City</i></label>
                 <input type="text" name="city" placeholder="Enter your City" class="form-control" >
             </div> 
             <div class="form-group">
              <label>Phone No</i></label>
              <input type="text" name="phone" placeholder="Enter your mobile number" class="form-control" >
          </div> 
             <div class="form-group">
                 <input type="submit" class="btn btn-primary" value="Sign up">
                 <input type="reset" class="btn btn-primary" value="Reset">
             </div>
             <p>Already have an account? <a href="login">Login now</a>.</p>
         </form>
     </div>    

  </body>
</html>
